.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
*.local
node_modules/
.pnpm-store/
.npm/
.vite/
dist/
build/
.cache/
.parcel-cache/
resources/_gen/
_site/
.sass-cache/
.jekyll-cache/
uploads/
tmp/
temp/
coverage/
